@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  max-width: 1300px;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden !important;
  position: relative;
}
:root {
  --primary-color: black;
  --secondary-color: #005f2f;
  --background-color: #f4f4f4;
  --Primary-font-size: 17px;
  --secondary-font-size: 16px;
  --font-weight-4: 400;
  --font-weight-3: 300;
  --font-weight-7: 700;
  --font-weight-5: 500;
}

a {
  text-decoration: none;
  outline: none;
  color: var(--primary-color);
  font-size: var(--Primary-font-size);
  font-weight: var(--font-weight-4);
}

button {
  outline: none;
}
h1 {
  color: var(--background-color);
  font-size: 55px;
  font-weight: var(--font-weight-7);
}

h2 {
  font-size: 45px;
  font-weight: 600;
}
h3 {
  font-size: 23px;
  line-height: 35px;
  font-weight: var(--font-weight-4);
}

p {
  font-size: 16px;
  line-height: 1.7em;
}
ul {
  padding-left: 0;
}

img {
  max-width: 100%;
}
.btn:focus {
  color: var(--background-color);
  background-color: transparent;
  border-color: 2px solid var(--background-color);
  box-shadow: none;
}
.btn-primary {
  background-color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  font-size: var(--Primary-font-size);
  font-weight: var(--font-weight-4);
  padding: 8px 25px;
  border-radius: 3px;
}
.btn-primary:hover {
  background-color: transparent;
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
}

.btn-secondary {
  color: var(--secondary-color);
  background-color: var(--background-color);
  border: 2px solid var(--secondary-color);
  font-size: var(--Primary-font-size);
  font-weight: var(--font-weight-4);
  padding: 8px 25px;
  border-radius: 3px;
}
.btn-secondary:hover {
  background-color: transparent;
  border: 2px solid var(--background-color);
  color: var(--background-color);
}

/* header  */

.header-section {
  height: 100px;
  display: flex;
  align-items: center;
}
.logo {
  width: 350px;
}
.navigation {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
}
.navigation a {
  /* for hover effect padding bottom */
  padding-bottom: 40px;
  padding-right: 35px;
  transition: all 0.1s;
}
.navigation a:hover {
  color: var(--secondary-color);
}
.navigation a::before {
  color: var(--secondary-color);
  content: ' ';
  background-color: var(--secondary-color);
  width: 0px;
  height: 4px;
  position: absolute;
  top: 45px;
  border-radius: 3px;
  transition: all 0.5s;
}
.navigation a:hover::before {
  width: 100px;
  height: 4px;
}
/* dropdown  */
.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown .dropdown-menu {
  margin-top: 36px;
}
.dropdown .dropdown-menu a {
  padding-top: 5px;
  padding-bottom: 5px;
}
/* dropdown hover effect off */
.dropdown-menu a:hover::before {
  width: unset;
  height: unset;
}
.dropdown .dropdown-menu a:active {
  background-color: #005f2f;
  color: #f2f2f2;
}
/* -------- form and floating button ----------*/

/* ------- floating button --------- */
.float-btn-container {
  position: sticky;
  top: 0px;
  z-index: 2;
}
.float-button {
  position: fixed;
  top: 300px;
  right: -50px;
  transform: rotate(-90deg);
  z-index: 2;
  border: 2px solid #f4f4f4;
}
.float-button:hover {
  background-color: #f2f2f2;
}
/* -------form div--------- */
.form-div-container {
  position: sticky;
  top: 40px;
  z-index: 1;
}
.form-div {
  visibility: hidden;
  opacity: 0;
  width: 0;
  height: 0;
  position: fixed;
  right: 0%;
  top: 50px;
  z-index: 1;
  transition: 0.5s;
}
.form-active {
  visibility: visible;
  opacity: 1;
  width: 33%;
  position: fixed;
  right: 50px;
  top: 50px;
  z-index: 5;
  transition: 0.5s;
}

/* --------------------------hero-section ---------------------------------------- */

.hero-area {
  background: linear-gradient(
      90deg,
      var(--secondary-color) 38%,
      rgba(255, 255, 255, 0.1) 116%
    ),
    url(assets/banner.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-section {
  min-height: 600px;
  display: flex;
  align-items: center;
}

.hero-content {
  max-width: 85%;
}

.hero-content h3 {
  color: var(--background-color);
}

/*-------------------------- service section---------------------------------- */

.service-area {
  background: #f2f2f2;
  padding: 100px 0px;
}

.service-content {
  color: black;
  text-align: center;
}

.service-content h2 {
  color: #005f2f;
}
.service-content p {
  font-size: 23px;
  line-height: 35px;
  font-weight: var(--font-weight-4);
  color: black;
}

.service-box-container {
  display: flex;
  flex-basis: 25%;
  margin-top: 50px;
}

.service-box {
  background: white;
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
  margin-right: 20px;
  padding: 30px 10px;
  width: 25%;
}

.service-box h3 {
  font-size: 17px;
  font-weight: var(--font-weight-7);
  color: var(--secondary-color);
  text-transform: capitalize;
  line-height: 22px;
  margin-bottom: 20px;
}

.service-box p {
  font-size: 16px;
  color: black;
  line-height: 22px;
  padding: 0px 10px;
}

.service-box button {
  font-size: 16px;
  background-color: white;
}

.service-box button:hover {
  background-color: #005f2f;
}
.service-box button:focus {
  color: #005f2f;
  border-color: #005f2f;
  background-color: #f2f2f2;
}

/* ----------------------------------carousel section --------------------------------------------------*/
.carousel-area {
  padding: 70px 0px;
}
.owl-carousel {
  z-index: 0;
}
/*--------------------------------- contact section --------------------------- */
.contact-area {
  background-color: var(--background-color);
  padding: 100px 0px;
}

.divider {
  width: 100px;
  height: 5px;
  background-color: var(--secondary-color);
  margin-bottom: 20px;
}

.contact-content h2 {
  color: var(--secondary-color);
}
.features .item {
  display: flex;
  align-items: flex-start;
  padding-top: 10px;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.features .item .icons {
  font-size: 25px;
  color: var(--secondary-color);
  padding-right: 10px;
}

.contact-section {
  display: flex;
  flex-wrap: wrap;
}
.contact-content {
  flex: 1;
}
.contact-content p {
  color: var(--primary-color);
}
.contact-form {
  background: var(--secondary-color);
  padding: 30px;
  border-radius: 5px;
}
.contact-form i {
  color: #f4f4f4;
  float: right;
}
.contact-form h4,
p {
  color: var(--background-color);
}

.form-line {
  display: flex;
}

/* ----------------------------------------- about section------------------------------------------------ */
.about-area {
  padding: 100px 0;
}

.about-text-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.about-text p {
  color: black;
}

/* ---------footer------- */

.footer-area {
  padding: 100px 0;
  background-color: #f4f4f4;
  background-image: url(assets/footer-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.footer-about {
  max-width: 40%;
  padding-right: 100px;
}
.footer-links {
  max-width: 60%;
}
.footer-image {
  max-width: 300px;
  margin-bottom: 30px;
}

.footer-text h6 {
  font-weight: 400;
  line-height: 1.6em;
}

.quick-links ul {
  list-style: none;
}
.quick-links ul li a:hover {
  color: #005f2f;
}

.quick-links ul li span i {
  color: #005f2f;
  font-size: 11px;
  margin-right: 15px;
}
.footer-heading {
  margin-bottom: 20px;
}

/* ---------------media query----------------------- */

@media screen and (max-width: 1200px) {
  .header-section {
    padding: 0px 20px;
  }
  .hero-section {
    padding: 0px 20px;
  }
  /* header  */
  .logo {
    width: 270px;
  }
  /* direction column keno bujhtesi na */
  /* .navbar {
    display: flex;
    flex-direction: column;
  } */
  .navbar {
    display: flex;
    flex-direction: row;
  }
  .navigation a {
    font-size: 16px;
    padding-right: 30px;
    transition: all 0.1s;
  }
  /* hero */
  h1 {
    font-size: 45px;
  }
  h3 {
    font-size: 20px;
  }
  /* form and floating btn */
  .float-btn-container {
    z-index: 1;
  }
  .float-button {
    z-index: 1;
  }
  .form-div {
    width: 45%;
  }
}

@media screen and (max-width: 992px) {
  /* global  */
  .container {
    padding: 0px 20px;
  }
  h1 {
    color: var(--background-color);
    font-size: 35px;
    font-weight: var(--font-weight-7);
  }
  h3 {
    color: var(--background-color);
    font-size: 18px;
    line-height: 30px;
    font-weight: var(--font-weight-3);
  }

  /* header  */
  .navigation {
    display: none;
  }

  .logo {
    width: 240px;
  }
  .mobile-menu i {
    background-color: var(--secondary-color);
    color: var(--background-color);
    padding: 5px 4px;
    border-radius: 3px;
    font-size: 30px;
    margin: 0px;
  }

  /* offcanvas menu  */
  .offcanvas-header {
    padding: 20px 35px;
  }
  .offcanvas-body {
    padding: 50px;
  }

  .mobile-nav {
    display: flex;
    flex-direction: column;
  }
  .dropdown {
    margin: 10px 0px;
  }
  .dropdown a {
    margin-right: 70px;
    padding: 10px 0px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.138);
  }
  .dropdown a:hover {
    color: var(--secondary-color);
  }
  .dropdown:hover .dropdown-menu {
    margin-top: 8px;
  }
  .dropdown .dropdown-menu a:active {
    background-color: #005f2f;
    color: #f2f2f2;
  }
  /* off design for a tag */
  .dropdown .dropdown-menu a {
    margin-right: unset;
    padding: 10px;
    border-bottom: unset;
  }

  /* form and floating btn */
  .float-btn-container {
    z-index: 1;
  }
  .float-button {
    margin-left: 40px;
  }
  .form-div {
    width: 50%;
  }

  /* contact section  */
  .contact-section {
    display: flex;
    flex-wrap: wrap;
  }
  .contact-content {
    flex: 2;
  }
  .contact-form {
    margin-top: 40px;
    background: var(--secondary-color);
    padding: 20px;
    border-radius: 5px;
  }
  .contact-form h4,
  p {
    color: var(--background-color);
  }
}
/* ----------------------------------- max-width 768px ----------------------------- */
@media screen and (max-width: 768px) {
  p {
    font-size: 15px;
  }
  /* floating button */
  .float-btn-container {
    position: sticky;
    top: 80px;
    z-index: 1;
  }
  .float-button {
    padding: 8px 25px;
    font-size: var(--secondary-font-size);
    position: fixed;
    top: 280px;
    right: -45px;
    z-index: 1;
    /* lg btn so brdr */
    border: 2px solid #f4f4f4;
  }
  .form-div-container {
    position: sticky;
    top: 10%;
    z-index: 1;
  }
  .form-active {
    position: fixed;
    width: 80%;
    right: 52px;
  }
  .contact-form {
    background: var(--secondary-color);
    padding: 15px;
    border: 2px solid #f4f4f4;
    border-radius: 5px;
  }
  /* --mobile menu---- */
  .dropdown a {
    margin-right: unset;
  }
  .dropdown .dropdown-menu a {
    padding: 5px;
    font-size: 14px;
  }

  /* ------------------service-section--------------- */
  .service-area {
    padding: 50px 10px;
  }
  .service-box-container {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    margin-top: 50px;
  }
  .service-content h2 {
    font-size: 30px;
  }
  .service-content p {
    font-size: 16px;
    line-height: 1.6em;
  }
  .service-box {
    width: 100%;
    margin-bottom: 20px;
    padding: 30px 20px;
  }
  .service-box h3 {
    font-size: 20px;
  }
  .service-box p {
    font-size: 15px;
  }

  /* ---------------contact-section-------------- */
  .contact-area {
    padding: 50px 10px;
  }

  .contact-content h2 {
    font-size: 30px;
  }
  .divider {
    width: 50px;
    height: 4px;
  }
  .features .item .icons {
    font-size: 20px;
  }

  .content {
    font-size: 15px;
  }
  ::placeholder {
    font-size: 15px;
  }
  input {
    font-size: 15px;
  }
  input[type='submit'] {
    font-size: 16px;
  }

  /* ------------ about-area ----------------- */

  .about-area {
    padding: 50px 0;
  }
  .about-content .row {
    flex-direction: column;
  }
  .about-image {
    text-align: center;
    padding-bottom: 30px;
  }
  .about-image img {
    max-width: 70%;
  }
  .about-button {
    margin-top: 20px;
    text-align: center;
  }

  /* ------------------- footer ------------------- */
  .footer-area {
    padding: 50px 0;
  }
  .footer-content.row {
    flex-direction: column;
  }
  .row {
    flex-direction: column;
  }
  .footer-about {
    max-width: 100%;
    padding-right: 40px;
  }
  .footer-image img {
    max-width: 250px;
  }

  .footer-about h6 {
    font-size: 14px;
  }
  .footer-links {
    max-width: 100%;
    margin-top: 30px;
  }
  .quick-links ul li a {
    font-size: 14px;
  }
  .quick-links {
    margin-bottom: -15px;
  }
}

@media screen and (max-width: 293px) {
  .service-box-container .first h3 {
    font-size: 16px;
  }
  .dropdown .dropdown-menu a {
    font-size: 13px;
  }
}
